@font-face {
    src: url(/assets/fonts/Roboto-Regular.woff);
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(/assets/fonts/Roboto-Medium.woff);
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    src: url(/assets/fonts/Roboto-Bold.woff);
    font-family: 'Roboto';
    font-style: bold;
}