.weareworking {
    display: flex;
    flex-direction: row;
  
    .line {
      align-items: start;
      padding-top: 16px;
    }
  
    .text {
      padding-left: 10px;
      padding-right: 300px;
      width: 450px;
    }
  
    h5 {
      align-items: start;
      font-size: 16px;
    }
  
    h1 {
      font-size: 56px;
    }
  
    &__lorem {
      font-size: 16px;
    }
  }