$primary-color: #1D2130;
$secondary-color: #EFF7F2;
$tertiary-color: #FFFFFF;

$font-size-h1: 56px;
$font-size-h2: 48px;
$font-size-h3: 36px;
$font-size-h4: 24px;
$font-size-h5: 16px;
$font-size-h6: 28px;
$font-size-h7: 14px;

$button-padding: 15px 32px;
$button-radius: 5px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
    .weareworking {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    }
    
    .weareworking__line {
    align-items: start;
    padding-top: 22px;
    }
    
    .weareworking__text {
    padding-left: 10px;
    padding-right: 300px;
    width: 450px;
    }
    
    h5 {
    align-items: start;
    font-size: $font-size-h5;
    }
    
    h1 {
    font-size: $font-size-h1;
    }
    
    .weareworking__text--lorem {
    font-size: $font-size-h5;
    width: 600px;
    }
    @media (max-width: 767px) {
        .weareworking {
          flex-direction: column;
        }
        
        .weareworking__line {
          padding-top: 0;
        }
        
        .weareworking__text {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          text-align: center;
        }
        
        h5 {
          font-size: 14px;
        }
        
        h1 {
          font-size: $font-size-h3;
        }
        
        .weareworking__text--lorem {
          font-size: 14px;
          width: 100%;
          margin-bottom: 50px;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .weareworking {
          flex-direction: column;
        }
        
        .weareworking__line {
          padding-top: 0;
        }
        
        .weareworking__text {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          text-align: center;
        }
        
        h5 {
          font-size: 14px;
        }
        
        h1 {
          font-size: $font-size-h2;
        }
        
        .weareworking__text--lorem {
          font-size: 14px;
          width: 100%;
          margin-bottom: 50px;
        }
      }
    .whatwedo {
    background-color: $secondary-color;
    margin-top: 50px;
    }
    
    h2 {
    font-size: $font-size-h2;
    padding-left: 40px;
    padding-top: 70px;
    }
    
    .whatwedo__block {
    display: flex;
    flex-direction: column;
    }
    
    .whatwedo__block--alltext {
    display: flex;
    flex-direction: row;
    }
    
    h4 {
    font-size: $font-size-h4;
    }
    
    h7 {
    font-size: $font-size-h7;
    }
    
    .whatwedo__block--alltext--item {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 90px;
    margin-bottom: 50px;
    }
    
    .whatwedo__block--alltext--item--image {
    padding-top: 40px;
    }
    
    .whatwedo__block--alltext--item--text {
    padding-left: 20px;
    }
    
    @media (max-width: 767px) {
        .whatwedo {
            margin-top: 30px;
            }
            
            h2 {
            font-size: $font-size-h3;
            padding-left: 20px;
            padding-top: 40px;
            text-align: center;
            }
            
            .whatwedo__block--alltext {
            flex-direction: column;
            }
            
            h4 {
            font-size: $font-size-h5;
            padding-left: 20px;
            padding-right: 20px;
            }
            
            h7 {
            font-size: $font-size-h7;
            }
            
            .whatwedo__block--alltext--item {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 30px;
            }
            
            .whatwedo__block--alltext--item--image {
            padding-top: 20px;
            margin-left: auto;
            margin-right: auto;
            }
            
            .whatwedo__block--alltext--item--text {
            padding-left: 0;
            text-align: center;
            }              
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .whatwedo {
        margin-top: 30px;
        }
        
        h2 {
        font-size: $font-size-h3;
        padding-left: 20px;
        padding-top: 40px;
        text-align: center;
        }
        
        .whatwedo__block--alltext {
        flex-direction: row;
        }
        
        h4 {
        font-size: $font-size-h5;
        padding-left: 20px;
        padding-right: 20px;
        }
        
        h7 {
        font-size: $font-size-h7;
        }
        
        .whatwedo__block--alltext--item {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
        }
        
        .whatwedo__block--alltext--item--image {
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        }
        
        .whatwedo__block--alltext--item--text {
        padding-left: 0;
        text-align: center;
        }         
    }
    .weare {
    padding-top: 50px;
    margin-bottom: 70px;
    }
    
    .weare__text {
    font-size: $font-size-h5;
    text-align: center;
    }
    
    h3 {
    font-size: $font-size-h3;
    text-align: center;
    width: 750px;
    margin: 0 auto;
    margin-bottom: 50px;
    }
    
    .weare__images {
    display: flex;
    flex-direction: row;
    }
    
    .weare__images--mission {
    background-image: url(/assets/images/wood.png);
    color: $tertiary-color;
    background-size: 100% auto;
    margin-left: 40px;
    margin-right: 25px;
    font-weight: bolder;
    background-repeat: no-repeat;
    opacity: 0.9;
    }
    
    .weare__images--weekly {
    background-image: url(/assets/images/weekly.png);
    color: $tertiary-color;
    background-size: 100% auto;
    margin-left: 40px;
    margin-right: 25px;
    opacity: 0.9;
    font-weight: bolder;
    background-repeat: no-repeat;
    }
    
    .weare__images-wildlife {
    background-image: url(/assets/images/wildlife.png);
    color: $tertiary-color;
    background-size: 100% auto;
    margin-left: 40px;
    margin-right: 25px;
    opacity: 0.9;
    background-repeat: no-repeat;
    }
    
    h6 {
    font-size: $font-size-h6;
    padding-left: 30px;
    padding-right: 60px;
    }
    
    button{
        background-color: $tertiary-color;
        border: none;
        color:$primary-color;
        padding: $button-padding;
        text-align: center;
        border-radius: $button-radius;
        margin-left: 30px;
        margin-bottom: 50px;
    }
    .weare__images--lorem{
        font-size: $font-size-h5;
        margin-left: 30px;
        margin-bottom: 53px;
        padding-right: 60px;
    }
    @media (max-width: 767px) {
        .weare {
            padding-top: 30px;
            margin-bottom: 50px;
            }
            
            .weare__text {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            }
            
            h3 {
            font-size: $font-size-h3;
            text-align: center;
            width: auto;
            margin-bottom: 30px;
            }
            
            .weare__images {
            display: flex;
            flex-direction: column;
            }
            
            .weare__images--mission,
            .weare__images--weekly,
            .weare__images-wildlife {
            margin: auto;
            margin-bottom: 30px;
            background-size: cover;
            background-position: center;
            text-align: center;
            padding: 20px;
            opacity: 1;
            }
            
            h6 {
            font-size: $font-size-h5;
            padding-left: 0px;
            padding-right: 0px;
            }
            
            button {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5px;
                }
                
            .weare__images--lorem {
                font-size: $font-size-h7;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                padding-left: 0;
                padding-right: 0;
            }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .weare {
        padding-top: 30px;
        margin-bottom: 50px;
        }
        
        .weare__text {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        }
        
        h3 {
        font-size: $font-size-h3;
        text-align: center;
        width: auto;
        margin-bottom: 30px;
        }
        
        .weare__images {
        display: flex;
        flex-direction: column;
        }
        
        .weare__images--mission,
        .weare__images--weekly,
        .weare__images-wildlife {
        margin: auto;
        margin-bottom: 30px;
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 20px;
        opacity: 1;
        }
        
        h6 {
        font-size: $font-size-h5;
        padding-left: 0px;
        padding-right: 0px;
        }
        
        button {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
            }
            
        .weare__images--lorem {
            font-size: $font-size-h7;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            padding-left: 0;
            padding-right: 0;
        }
    }