@import "./vendor/normalize.css";
@font-face {
  src: url(/assets/fonts/Roboto-Regular.woff);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(/assets/fonts/Roboto-Medium.woff);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url(/assets/fonts/Roboto-Bold.woff);
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
}
html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.weareworking {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.weareworking__line {
  align-items: start;
  padding-top: 22px;
}

.weareworking__text {
  padding-left: 10px;
  padding-right: 300px;
  width: 450px;
}

h5 {
  align-items: start;
  font-size: 16px;
}

h1 {
  font-size: 56px;
}

.weareworking__text--lorem {
  font-size: 16px;
  width: 600px;
}

@media (max-width: 767px) {
  .weareworking {
    flex-direction: column;
  }
  .weareworking__line {
    display: none;
  }
  .weareworking__text {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  h5 {
    font-size: 14px;
  }
  h1 {
    font-size: 36px;
  }
  .weareworking__text--lorem {
    font-size: 14px;
    width: 100%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .weareworking {
    flex-direction: column;
  }
  .weareworking__line {
    display: none;
  }
  .weareworking__text {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  h5 {
    font-size: 14px;
  }
  h1 {
    font-size: 48px;
  }
  .weareworking__text--lorem {
    font-size: 14px;
    width: 100%;
    margin-bottom: 50px;
  }
}
.whatwedo {
  background-color: #EFF7F2;
  margin-top: 50px;
}

h2 {
  font-size: 48px;
  padding-left: 40px;
  padding-top: 70px;
}

.whatwedo__block {
  display: flex;
  flex-direction: column;
}

.whatwedo__block--alltext {
  display: flex;
  flex-direction: row;
}

h4 {
  font-size: 24px;
}

h7 {
  font-size: 14px;
}

.whatwedo__block--alltext--item {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 90px;
  margin-bottom: 50px;
}

.whatwedo__block--alltext--item--image {
  padding-top: 40px;
}

.whatwedo__block--alltext--item--text {
  padding-left: 20px;
}

@media (max-width: 767px) {
  .whatwedo {
    margin-top: 30px;
  }
  h2 {
    font-size: 36px;
    padding-left: 20px;
    padding-top: 40px;
    text-align: center;
  }
  .whatwedo__block--alltext {
    flex-direction: column;
  }
  h4 {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  h7 {
    font-size: 14px;
  }
  .whatwedo__block--alltext--item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .whatwedo__block--alltext--item--image {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .whatwedo__block--alltext--item--text {
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .whatwedo {
    margin-top: 30px;
  }
  h2 {
    font-size: 36px;
    padding-left: 20px;
    padding-top: 40px;
    text-align: center;
  }
  .whatwedo__block--alltext {
    flex-direction: row;
  }
  h4 {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  h7 {
    font-size: 14px;
  }
  .whatwedo__block--alltext--item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .whatwedo__block--alltext--item--image {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .whatwedo__block--alltext--item--text {
    padding-left: 0;
    text-align: center;
  }
}
.weare {
  padding-top: 50px;
  margin-bottom: 70px;
}

.weare__text {
  font-size: 16px;
  text-align: center;
}

h3 {
  font-size: 36px;
  text-align: center;
  width: 750px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.weare__images {
  display: flex;
  flex-direction: row;
}

.weare__images--mission {
  background-image: url(/assets/images/wood.png);
  color: #FFFFFF;
  background-size: 100% 100%;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 25px;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.weare__images--weekly {
  background-image: url(/assets/images/weekly.png);
  color: #FFFFFF;
  background-size: 100% 100%;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 25px;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.weare__images-wildlife {
  background-image: url(/assets/images/wildlife.png);
  color: #FFFFFF;
  background-size: 100% 100%;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 25px;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

h6 {
  font-size: 28px;
  padding-left: 30px;
  padding-right: 60px;
}

button {
  background-color: #FFFFFF;
  border: none;
  color: #1D2130;
  padding: 15px 32px;
  text-align: center;
  border-radius: 5px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.weare__images--lorem {
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 53px;
  padding-right: 60px;
}

@media (max-width: 767px) {
  .weare {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .weare__text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  h3 {
    font-size: 36px;
    text-align: center;
    width: auto;
    margin-bottom: 30px;
  }
  .weare__images {
    display: flex;
    flex-direction: column;
  }
  .weare__images--mission,
  .weare__images--weekly,
  .weare__images-wildlife {
    margin: auto;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    opacity: 1;
  }
  h6 {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
  button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .weare__images--lorem {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .weare {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .weare__text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  h3 {
    font-size: 36px;
    text-align: center;
    width: auto;
    margin-bottom: 30px;
  }
  .weare__images {
    display: flex;
    flex-direction: column;
  }
  .weare__images--mission,
  .weare__images--weekly,
  .weare__images-wildlife {
    margin: auto;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    opacity: 1;
  }
  h6 {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
  button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .weare__images--lorem {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

/*# sourceMappingURL=index.css.map */
